/*
   ------------------------------------------------------
						BLOG
   ------------------------------------------------------
*/

.entry-content {
    line-height: 22px;
}

#blog-entry {
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
}

.theme-container, .theme-container-category {
    padding-top: 30px;
    padding-bottom: 30px;
}

.theme-container-category .category-magazine {
    background-color: #FFFFFF;
    border: 1px solid #EBEAEA;
    border-radius: 5px 5px 5px 5px;
    margin-bottom: 15px;
    padding: 20px;
}

.entry-header { margin: 15px 0; }
.sidebar .entry-header { margin: 10px 0; }
.sidebar .flex-small-slider .entry-header { margin: 15px 0; }
h1.entry-title, h1.entry-title a,
h3.entry-title, h3.entry-title a,
h4.entry-title, h4.entry-title a,
h5.entry-title, h5.entry-title a {
    font-size: 18px;
    font-weight: bold;
    color: #202020;
    margin-bottom: 0;
    line-height: 24px;
    text-transform: capitalize;
}
h5.entry-title, h5.entry-title a { font-size: 14px; }

h1.entry-title a:hover,
h4.entry-title a:hover,
h3.entry-title a:hover,
h5.entry-title a:hover { color: #C2374C; }

.masonry-box { float: left; }

.post-block {
    background: #FFF;
    padding: 20px;
    float: left;
    position: relative;
    display: block;
    overflow: hidden;
    width: 100%;


    border: 1px solid #ebeaea;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.masonry-box {
    width: 17%;
    margin-right: 15px;
    margin-bottom: 15px;
}


.post-block .entry-content p { margin: 0; }

/* Video post format */
.format-video .entry-thumb, .embed-youtube { position: relative; padding-bottom: 56.25%; height: 0; }
.format-video .entry-thumb iframe, .embed-youtube iframe { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

/* Audio post format */
.format-audio .entry-thumb iframe { min-height: 160px; width: 100%; }

.no-top-padding .entry-content { padding-top: 0; }

.ct-post-date, .post-date {
    font-style: italic;
    font-size: 12px;
    color: #999;
}
.post-date a { color: #363636; }
.post-date a:hover { color: #999; }
.rw-cat-block {
    font-size: 11px;
    line-height: 19px;
    text-transform: uppercase;
    width: 100%;
    background-color: #F7F8F9;
}
.rw-cat-block > .left-aside, .rw-cat-block > .right-aside {
    float: left;
    padding: 0 10px;
    color: #777;
}
.rw-cat-block > .left-aside { color: #FFF; font-style: normal; }
.meta-stars { color: #FFF; }

.rw-cat-block > .left-aside > i { margin-right: 3px; }
.rw-cat-block > .left-aside > .meta-comments > i + a { color: #FFF; }
.rw-cat-block > .left-aside > .meta-views, .rw-cat-block > .left-aside > .meta-likes, .rw-cat-block > .left-aside > .meta-review { margin-right: 5px; }
.rw-cat-block > .left-aside > .meta-single-date { margin: 0 5px; }
.rw-cat-block > .left-aside > .meta-stars { margin-right: 5px; }


.right-aside a { color: #999; letter-spacing: 1px; }
.right-aside a:hover { color: #202020 }

.edit-link {
    font-size: 11px;
    color: #202020;
    text-transform: capitalize;
}
.edit-link > i { margin-right: 5px; }

.entry-content-meta { position: relative; }

.widgetContainer {
    border-radius: 0;
    border: none;
}

/* post formats */
.entry-post-link {
    background-color: #C2374C;
    color: #CCC;
    text-align: center;
    padding: 20px;
}

.entry-post-link > .edit-link, .quote-block > .edit-link { text-align: left; float: left; display: block; width: 100%; margin-bottom: 10px; }

.entry-post-link > .edit-link [class^="fa-"], .entry-post-link > .edit-link [class*=" fa-"], .entry-post-link > .edit-link a,
.quote-block, .quote-block > blockquote, .quote-block [class^="fa-"], .quote-block a, .quote-block i { color: #FFF !important; }

.entry-post-link > h1.entry-title, .entry-post-link > h1.entry-title a { color: #FFF; margin-bottom: 15px; }

a.original-link {
    color: rgba(255,255,255, .7) !important;
    line-height: 20px;
    display: inline-block;
    padding: 2px 10px;
    font-size: 12px;
    text-align: left;
    text-align: center;
}

a.original-link:hover { color: #FFF !important; }

a.original-link:before {
    content: "[";
    margin-right: 3px;
}

a.original-link:after {
    content: "]";
    margin-left: 3px;
}

.bg-post-format {
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    -transition: all 0.3s linear;
}

.quote-block, .quote-block > blockquote {
    border: none;
    padding: 0;
    text-align: center;
    color: #FFF;
}
.quote-block > blockquote p {
    font-size: 18px;
    font-weight: bold;
    line-height: 26px;
    padding: 10px 0;
}
.quote-block { padding: 20px; }

.quote-block > blockquote:before,
.quote-block > blockquote:after {
    content: '"';
    font-size: 36px;
    font-weight: bold;
    display: block;
    width: 15px;
    height: 15px;
    float: left;
}
.quote-block > blockquote:before {
    text-align: left;
}
.quote-block > blockquote:after {
    text-align: right;
    float: right;
}

.quote-block h1.entry-title,
.quote-block h1.entry-title a {
    font-size: 16px;
    color: #FFF;
    font-weight: normal;
    /*letter-spacing: 1px;*/
}

.format-chat p:nth-child(2n)   { background: #F1F2F3; }
.format-chat p:nth-child(2n+1) { background: #303030; color: #FFF; }
.format-chat p {
    margin: 0;
    padding: 7px 10px;
    line-height: 20px;
    border-bottom: 1px solid #ebeaea;
}
.format-chat #respond p {
    background: none;
    border: none;
    padding: 0
}
.format-chat #respond p.logged-in-as {
    margin-bottom: 15px
}
.entry-chat {
    margin-bottom: 15px
}

.entry-chat p strong {
    background-color: #F1F2F3;
    color: #FFF;
    padding: 10px;
    margin-right: 10px
}
.format-chat ul#comments li p {
    border: none;
    padding: 0;
    margin-bottom: 15px
}



/*
   ------------------------------------------------------
					REVIEW
   ------------------------------------------------------
*/

.review-block {
    display: block;
    background: #f7f8f9;
    min-width: 160px;
    border: 1px solid #DDD;
    border-bottom: none;
}

.overall_score { font-size: 19px; font-weight: bold; padding: 15px; text-align: center; }

.overall_score > .score_name {
    line-height: 34px;
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-size: 22px;
    color: #FFF;
}
.overall_score > .score_value {
    font-size: 42px;
    line-height: 54px;
    text-align: center;
    display: block;
    margin-bottom: 10px;
    color: #FFF;
}
.summary-review { display: block; color: #fff; font-size: 12px; line-height: 19px; text-align: center; font-weight: normal; }

ul.score-list { padding-left: 0; }
ul.score-list, ul.score-list li { list-style-type: none; }
ul.score-list li { font-size: 11px; text-transform: uppercase; letter-spacing: 1px; color: #414243; line-height: 26px; padding: 5px 0; font-weight: bold; border-bottom: 1px solid #DDD; }
ul.score-list li:first-child { border-top: 1px solid #DDD; }

.criteria_name { float: left; margin-right: 15px; margin-top: 2px; }
.rating-stars {	float: right; margin-top: 2px; }
ul.score-list, ul.score-list li { list-style-type: none; margin: 0; }

.read-more {
    text-transform: uppercase;
    color: #FFF !important;
    font-size: 12px;
    background: #C2374C;
    padding: 3px 10px;
    margin-top: 15px;
    display: inline-block;
    font-weight: bold;

    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
.read-more:hover, .read-more:focus, .read-more:active {
    background: #202020;
}

.read-more.right { float: right; }

/*
   ------------------------------------------------------
					POST THUMBS
   ------------------------------------------------------
*/

.post-block .entry-thumb, .entry-thumb { position: relative; display: block; line-height: 0; overflow: hidden;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
}

.post-block .entry-thumb img, .entry-thumb img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    width: 100%;
}

.entry-thumb .overlay-image, .entry-thumb .overlay-added-image {
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    left: 0;
    top: 0;
    line-height: 28px;
    font-weight: bold;
    text-align: center;
    background-color: #333;

    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    -transition: all 0.3s linear;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
}
.entry-thumb .overlay-added-image {
    opacity: .75;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
    filter: alpha(opacity=75);
}
.zoom-img {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    text-decoration: none;
}
.entry-thumb .fa-plus, .entry-thumb .fa-play  /*, .entry-thumb .icon-play*/  {
    position: absolute;
    width: 30px;
    height: 30px;
    display: block;
    left: 50%;
    top: 50%;
    margin-left: -15px;
    margin-top: -15px;
    color: #FFF;
    font-size: 18px;
    line-height: 30px;
    text-align: center;

    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    -transition: all 0.3s linear;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
}
.entry-thumb:hover .fa-plus, .entry-thumb:hover .fa-play  /*.icon-plus, .entry-thumb:hover .icon-play */{
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
}

.entry-thumb:hover > .overlay-image {
    opacity: .7;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    filter: alpha(opacity=70);
}

.entry-thumb.ct-auto { height: auto; padding-bottom: 0; }




.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.clear {
  clear: left;
}

body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /*.container {
    max-width: 730px;
  }*/

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
