<div class="row">
  <div class="col-md-12" style="text-align: center">
    <uib-pagination total-items="about.bigTotalItems" ng-model="about.currentPage" max-size="about.maxSize" class="pagination-sm" boundary-links="true" ></uib-pagination>
  </div>
  <div ng-repeat="(index,post) in about.posts | limitTo:about.maxSize:about.currentPage" class="col-sm-3 col-lg-3 col-md-3" ng-class="about.rowClass(index+1)">
    <div class="thumbnail">
      <img alt="" ng-src="{{post.image}}">
      <div class="caption">
        <h4><a href="#">{{post.title}}</a></h4>
        <p style="text-align: justify">{{post.body}}</p>
        <p><i class="glyphicon glyphicon-user"></i> {{post.user.name}}</p>
      </div>
    </div>
  </div>
  <div class="col-md-12" style="text-align: center">
    <uib-pagination total-items="about.bigTotalItems" ng-model="about.currentPage" max-size="about.maxSize" class="pagination-sm" boundary-links="true" ></uib-pagination>
  </div>
</div>
