
<div class="modal-header">
    <h3 class="modal-title">Post</h3>
</div>
<div class="modal-body">
    <form class="comments">
        <div class="form-group">
            <label >Enter Title</label>
            <input type="text" class="form-control" ng-model="CreateEdit.post.title"
                   placeholder="Enter title">
        </div>
        <div class="form-group">
            <label >Enter body</label>
            <textarea ng-model="CreateEdit.post.body" class="form-control" rows="5"></textarea>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="CreateEdit.ok()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="CreateEdit.cancel()">Cancel</button>
</div>