<div id="snippetContent" style="padding-top:10px;">
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
    <div class="container bootstrap snippet">
        <div class="col-sm-8" style="position: relative; left:16%;">
            <div class="panel panel-white post panel-shadow">
                <div class="post-heading">
                    <button class="btn btn-primary glyphicon glyphicon-pencil pull-right" ng-click="postsCtrl.open('lg') " ></button>
                    <div class="pull-left image"><img src="http://bootdey.com/img/Content/user_1.jpg"
                                                      class="img-circle avatar" alt="user profile image"></div>
                    <div class="pull-left meta">
                        <div class="title h5"><a href="#"><b>{{ postsCtrl.post.user.name }}</b></a> made a post.</div>
                        <h6 class="text-muted time">{{postsCtrl.post.date | date:'longDate' }}</h6></div>
                </div>
                <div class="post-description">
                    <h4 class="entry-title">{{ postsCtrl.post.title }}</h4>
                    <p ng-bind-html="postsCtrl.post.body | changeToBr"></p>
                </div>
                <div class="post-footer">
                    <ul class="comments-list" ng-repeat="comment in postsCtrl.post.comments">
                        <li class="comment">
                            <a class="pull-left" href="#">
                                <img class="avatar" src="http://bootdey.com/img/Content/user_1.jpg" alt="avatar">
                            </a>
                            <div class="comment-body">
                                <div class="comment-heading">
                                    <h4 class="user">{{comment.name}}</h4>
                                    <h5 class="email">{{comment.email}}</h5>
                                </div>
                                <p ng-bind-html="comment.body | changeToBr"></p>
                            </div>
                        </li>
                    </ul>
                    <form class="comments">
                        <div class="form-group">
                            <label >Enter Name</label>
                            <input type="text" class="form-control" ng-model="postsCtrl.newComment.name"
                                   placeholder="Enter Name">
                        </div>
                        <div class="form-group">
                            <label >Enter Email</label>
                            <input type="email" class="form-control" ng-model="postsCtrl.newComment.email" placeholder="Enter Email">
                        </div>
                        <div class="form-group">
                            <label >Enter Comment</label>
                            <textarea ng-model="postsCtrl.newComment.body" class="form-control" rows="5"></textarea>
                        </div>
                        <input type="submit" ng-click="postsCtrl.addComment( postsCtrl.post.id )" value="Submit"
                               class="btn btn-info ">
                    </form>
                </div>
            </div>
        </div>
    </div>

    <style type="text/css">
        .panel-shadow {
            box-shadow: rgba(0, 0, 0, 0.3) 7px 7px 7px;
        }

        .panel-white {
            border: 1px solid #dddddd;
        }

        .panel-white .panel-heading {
            color: #333;
            background-color: #fff;
            border-color: #ddd;
        }

        .panel-white .panel-footer {
            background-color: #fff;
            border-color: #ddd;
        }

        .post .post-heading {
            height: 95px;
            padding: 20px 15px;
        }

        .post .post-heading .avatar {
            width: 60px;
            height: 60px;
            display: block;
            margin-right: 15px;
        }

        .post .post-heading .meta .title {
            margin-bottom: 0;
        }

        .post .post-heading .meta .title a {
            color: black;
        }

        .post .post-heading .meta .title a:hover {
            color: #aaaaaa;
        }

        .post .post-heading .meta .time {
            margin-top: 8px;
            color: #999;
        }

        .post .post-image .image {
            width: 100%;
            height: auto;
        }

        .post .post-description {
            padding: 15px;
        }

        .post .post-description p {
            font-size: 14px;
        }

        .post .post-description .stats {
            margin-top: 20px;
        }

        .post .post-description .stats .stat-item {
            display: inline-block;
            margin-right: 15px;
        }

        .post .post-description .stats .stat-item .icon {
            margin-right: 8px;
        }

        .post .post-footer, .comments {
            border-top: 1px solid #ddd;
            padding: 15px;
        }

        .post .post-footer .input-group-addon a {
            color: #454545;
        }

        .post .post-footer .comments-list {
            padding: 0;
            margin-top: 20px;
            list-style-type: none;
        }

        .post .post-footer .comments-list .comment {
            display: block;
            width: 100%;
            margin: 20px 0;
        }

        .post .post-footer .comments-list .comment .avatar {
            width: 35px;
            height: 35px;
        }

        .post .post-footer .comments-list .comment .comment-heading {
            display: block;
            width: 100%;
        }

        .post .post-footer .comments-list .comment .comment-heading .user {
            font-size: 14px;
            font-weight: bold;
            display: inline;
            margin-top: 0;
            margin-right: 10px;
        }

        .post .post-footer .comments-list .comment .comment-heading .email {
            font-size: 12px;
            color: #aaa;
            margin-top: 0;
            display: inline;
        }

        .post .post-footer .comments-list .comment .comment-body {
            margin-left: 50px;
        }

        .post .post-footer .comments-list .comment > .comments-list {
            margin-left: 50px;
        }</style>
</div>