<div class="row">
    <div class="col-md-11" style="text-align: center;">
        <uib-pagination total-items="postsCtrl.totalItems" items-per-page="postsCtrl.maxSize" ng-change="postsCtrl.pageChanged()" ng-model="postsCtrl.currentPage" max-size="postsCtrl.maxSize" class="pagination-sm" boundary-links="true" ></uib-pagination>
    </div>
    <div class="col-md-1" style="text-align: center;" >
        <button class="btn btn-primary glyphicon glyphicon-plus" ng-click="postsCtrl.open('lg') " ></button>
    </div>
    <div class="col-sm-6" style="height: 300px" ng-repeat="(index,post) in postsCtrl.posts | limitTo:postsCtrl.maxSize:(postsCtrl.currentPage * postsCtrl.maxSize) - postsCtrl.maxSize">
        <div class="col-lg-6">
            <div class="entry-thumb">
                <div class="overlay-image"></div><a class="zoom-img" title="{{post.title}}" href="#" data-rel="prettyPhoto" rel="prettyPhoto"><i class="fa fa-plus"></i></a>
                <a href="#" style="border: 0px none;"><img alt="{{post.title}}" title="{{post.title}}" ng-src="{{post.image}}"></a>
            </div><!-- /entry-thumb -->
        </div> <!-- /col-lg-6 -->
        <div class="col-lg-6">
            <section class="rw-cat-block clearfix">
                <div class="right-aside">
                    <a href="#">Section</a>
                </div> <!-- /right-aside -->
            </section> <!-- /rw-cat-block -->
            <header class="entry-header">
                <h4 class="entry-title">
                    <a title="{{post.title}}" ui-sref="posts.detail({idPost : {{post.id}} })">{{post.title}}</a>
                </h4>
                <span class="ct-post-date updated">
                    {{post.date | date:'longDate'}}
                </span> <!-- /ct-post-date -->
                <span title="Author" class="meta-author">
                    &nbsp;/&nbsp;
                    <span class="author vcard">
                        <a rel="author" title="View all posts by {{post.user.name}}" href="#" class="url fn n">{{post.user.name}}</a>
                    </span>
                </span>
            </header> <!-- /entry-header -->
            <div class="entry-content">
                {{post.body}}							</div><!-- .entry-content -->
            <a title="Permalink to Gorgeous girlfriends" ui-sref="posts.detail({idPost : {{post.id}} })"   class="read-more left">Read more</a>
        </div> <!-- /col-lg-6 -->
    </div>

</div>
